* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

h1 {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1300px;
    margin-top: 40px;
    padding: 0 5%;
}

.saldo-resumo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.entrada,
.saida,
.total, .selo-classificacao {
    width: 20%;
    height: 100px;
    border: solid 1px #cfcfcf;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    box-shadow: 4px 4px 4px #767676;
    text-align: center;
}

.entrada {
    background: #c0edd4;
}

.saida {
    background: #eacece;
}

.total {
    background: #d0e4ed;
}

.selo-classificacao{
background: #5fec6d;
/* background: #d40700; */

padding: 10px;
text-align: center;
}

.selo-classificacao p{
    font-size: 0.7em;
    font-weight: 600;
}

.selo-classificacao img{
    width: 20px;
}


.selo-classificacao span{
    background: #c90404;
    width: 10px;
    height: 80px;
}


.campos-entrada {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mensagem {
    padding: 20px;
    height: 60px;
}

.descricao,
.valor,
.data,
.div-tipo {
    display: flex;
    flex-direction: column;
}

.descricao, .valor, .data {
    width: 20%;
}

.tipo-e-btn{
    width: 20%;
    display: flex;
    align-items:end ;
    gap: 10px;
}

.div-tipo{
    width: 40%;
}

select{
      border: solid 1px #cfcfcf;
    border-radius: 10px;
    padding: 10px 2px;
}


button {
    width: 60%;
    height: 39.2px;
    border-radius: 10px;
    border: none;
    background: #1ba7fe;
    color: #fff;
    font-weight: 600;
    box-shadow: 4px 4px 4px #767676;
    cursor: pointer;
}

#tipo {
    cursor: pointer;
    width: 100%;
}

input {
    padding: 10px;
    border: solid 1px #cfcfcf;
    border-radius: 10px;
    width: 100%;

    box-shadow: 4px 4px 4px #767676;
}

input:focus,
select:focus {
    outline: none;
}

label {
    margin-left: 10px;
}
/* 
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
} */


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

tr:nth-child(even) {
    background: #eeeeee;
}

tr:hover {
    background: #e1e1e1;
}

th {
    background: #d0e4ed;
}

th,
td {
    border: solid 1px #ddd;
    padding: 8px;
}

.seta-entrada {
    color: #038410;
}

.seta-saida {
    color: #c90404;
}


@media(max-width: 1200px){
    .tipo-e-btn{
        flex-direction: column;
    }

    .div-tipo{
        width: 100%;
    }
    button{
        width: 100%;
    }
}
/* 
@media(max-width:600px){
    .saldo-resumo{
        width: 520px;
        height: 300px;
        flex-wrap: wrap;
    }
} */