* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

h1 {
    text-align: center;
}
main {
    display: grid;
    width: 100%;
    max-width: 1300px;
    margin-top: 40px;
    padding: 0 5%;
}

.saldo-resumo, .campos-entrada {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    
}


.entrada,
.saida,
.total, .selo-classificacao {
    width: 180px;
    height: 100px;
    border: solid 1px #cfcfcf;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    box-shadow: 4px 4px 4px #767676;
    text-align: center;
}

.entrada {
    background: #c0edd4;
}

.saida {
    background: #eacece;
}

.total {
    background: #d0e4ed;
}

.selo-classificacao{
background: #5fec6d;


padding: 10px;
text-align: center;
}

p{
   
    font-weight: 600;
}

.selo-classificacao p{
    font-size: 0.7rem;
    font-weight: 600;
}




.selo-classificacao span{
    background: #c90404;
    width: 10px;
    height: 80px;
}

/* 
.campos-entrada {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
} */

.mensagem {
    padding: 20px;
    height: 60px;
}


.descricao, .valor, .data {
    width: 180px;
}

.tipo-e-btn{
    width: 180px;
    display: flex;
    align-items:end ;
    gap: 10px;
}

.div-tipo{
    width: 40%;
}

select{
      border: solid 1px #cfcfcf;
    border-radius: 10px;
    padding: 10px 2px;
}


button {
    width: 60%;
    height: 39.2px;
    border-radius: 10px;
    border: none;
    background: #1ba7fe;
    color: #fff;
    font-weight: 600;
    box-shadow: 4px 4px 4px #767676;
    cursor: pointer;
}

#tipo {
    cursor: pointer;
    width: 100%;
}

input {
    padding: 10px;
    border: solid 1px #cfcfcf;
    border-radius: 10px;
    width: 100%;

    box-shadow: 4px 4px 4px #767676;
}

input:focus,
select:focus {
    outline: none;
}

label {
    margin-left: 10px;
}
/* 
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
} */


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

tr:nth-child(even) {
    background: #eeeeee;
}

tr:hover {
    background: #e1e1e1;
}

th {
    background: #d0e4ed;
}

th,
td {
    border: solid 1px #ddd;
    padding: 8px;
}

.seta-entrada {
    color: #038410;
}

.seta-saida {
    color: #c90404;
}


@media(max-width: 900px){

    main{
    
        padding: 0 3%;
        grid-column: 1 / 2;
    }

.saldo-resumo{
   grid-template-columns: 400px 400px;
 grid-template-rows: 70px 100px 80px;
  /* justify-items: center; */
  
   gap: 40px;
   width: 100%;
   grid-column: 1 / 2;
  
}

.selo-classificacao{
    order: -1;
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
}

.entrada{
    grid-column: 1 / 2;
    width: 100%;
}

.saida{
    grid-column: 2 / 4;
    width: 100%;
}

.total{
    width: 100%;
    grid-column: 1 / 3;
}

.campos-entrada{
grid-template-columns: 400px 400px;
grid-template-rows: repeat(3, 80px);
grid-column: 1 / 2;
justify-items: center;
}

.descricao{
    grid-column: 1 / 2;
    width: 100%;
}

.data{
    grid-column: 1 / 2;
    width: 100%;
}

.valor{
 grid-column: 2 / 3;
 width: 100%;

}

.div-tipo{
    grid-column:  2 / 3;
    width: 100%;
}


    .tipo-e-btn{
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .div-tipo{
        width: 100%;
    }
    button{
        width: 80vw;
        position: absolute;
        top: 100px;
        margin: 0 auto;

    }
}
